@charset "UTF-8";
* {
  margin: 0;
  padding: 0;  
  box-sizing: border-box;
}
#app {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.img_area {
  padding: 15px;
}
.preview_wrap {
  max-width: 400px;
}
.preview {
  position: relative;
  width: 100%;
  min-height: 300px;
  // height: 0;
  // padding-top: 100%;
  background-color: #eee;
  overflow: hidden;
  img {
    width: 100%;
    // position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
  }
}


.crop_popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 15px;
  background-color: rgba(0,0,0,0);
  overflow-y: scroll;
}
.crop_popup__inner {
  background-color: #fff;
  padding: 10px;
  transition: .7s;
  transform: translateY(20px);
  opacity: 0;
}
.crop_popup.active {
  background-color: rgba(0,0,0,.5);
}
.crop_popup.active .crop_popup__inner {
  transform: translateY(0);
  opacity: 1;
}
.crop_popup__img {
  width: 100%;  
  max-width: 500px;
  max-height: 500px;
}
.crop_popup__img img {
  width: 100%;
}
